body {
    background-color: rgb(20, 20, 20);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 48px;
    color: white;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    width: 450px;
    height: 650px;
}

.screen {
    display: flex;
    flex-direction: column;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(175, 175, 175);
    width: 410px;
    height: 125px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.screen .upper {
    display: flex;
    justify-content: right;
    flex: 1;
    align-items:  flex-end;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
}

.screen .lower {
    display: flex;
    justify-content: right;
    flex: 3;
    align-items: flex-end;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    font-size: 24px;
}

.buttons {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    gap: 10px;
    width: 420px;
    height: 480px;
}

.clr-del {
    display: flex;
    width: 410px;
    height: 50px;
    margin: 5px;
    gap: 5px;
}

.clr-del button {
    flex: 1;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    font-weight: 525;
    font-family: 'Orbitron', sans-serif;
    transition: 0.1s;
    background-color: rgb(155, 179, 124);
}

#delete:hover, #clear:hover {
    background-color: rgb(207, 74, 59);
}

.button-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
    width: 410px;
    height: 410px;
}

.button-grid button {
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    transition: 0.1s;
}

.button-grid button:hover {
    filter: brightness(85%);
}

.button-grid .number { background-color: darkolivegreen; }
.button-grid .special { background-color: rgb(212, 158, 59); }